//
//== Footer
//

.footer {
  font-family: 'Montserrat', serif;

    &__copyright--img {
      width: 40px;
    }
  }

  .social-icon {
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 6px;
    color: white;
    display: inline-block;

    &:hover {
      color: #0f8ee2;
      background-color: white;
    }

  &__copyright {
    &--img {
      width: 30px;
      height: 10px;
    }
  }
}
