//
//== Navigation
//
.navigation-primary {
    &__logo {
        width: 130px;
        height: auto;
    }
}

.navbar-light .navbar-nav .nav-link {
  position: relative;
  &:hover {
    &::before {
      content: '';
      background-color: #449ad2;
      height: 4px;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: -9px;
      display: block;
    }
  }
}

.navbar-nav .dropdown-menu {
  .dropdown-menu.show {
    top: 116%;
  }
}