// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:      Raleway, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-base:            $font-family-sans-serif;
$font-family-secondary:       Roboto, $font-family-base;
$font-family-tertiary:        Arial, $font-family-base;

$font-size-base:              1rem; // Assumes the browser default, typically `16px` //14px

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;
