//
//= Buttons
//

.btn-wide {
	@include padding-x(rem(36px));
}

.btn-thin {
	@include font-size(14px);
}

.btn-gradient-blue {
  background-image: linear-gradient(to bottom, #3fa8ee, #56bcff);
}

.btn-gradient-orange {
  background-image: linear-gradient(to bottom, #ff5600, #ff8f00);
}