.quotes {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url('~@img/bg-quote.png');
  background-size: 40%;
  background-position: center center;
  background-repeat: no-repeat;
}

.quote-card {
  background-color: #f3f3f3;
  border-radius: 6px;
  text-align: center;
  padding: 30px 15px;
  box-shadow: 0px 20px 29px 0px rgba(0, 0, 0, 0.1);
  width: 500px;
  transform: scale(0.8);
  transition: 400ms;
  opacity: 0.4;
  
  p, span {
    font-family: 'PT Serif', serif;
  }

  a {
    border-bottom: 1px solid #dcdcdc;
    color: #292929;
    padding-bottom: 25px;
    margin-bottom: 25px;

    &:hover {
      color: #292929;
    }
  }
}

.glide__slide--active {
  .quote-card {
    transform: scale(0.9);
    transition: 400ms;
    opacity: 1;
  }
}