.features-tab {
  padding: 30px;
  box-shadow: 0px 20px 29px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-left: 15px;


  &__list {
    .nav-link {
      color: black;
      border-bottom: 1px solid grey;
      margin-top: 5px;
      margin-bottom: 5px;
      border-radius: 0;
      display: flex;
      align-items: center;

      &:first-child {

          &::before {
            content: '';
            background-image: url('../img/tab-icon-0.png');
            background-size: contain;
            background-repeat: no-repeat;
            height: 50px;
            width: 50px;
            margin-right: 2.5px;
          }
      
          &.active {
          background-image: linear-gradient(to bottom, #ff5700, #ff9000);
          background-color: #ff9000;
          border: none;

          &::before {
            background-image: url('../img/tab-icon-0h.png');
          }
        }
      }

      &:nth-child(2){

        &::before {
          content: '';
          background-image: url('../img/tab-icon-1.png');
          background-size: contain;
          background-repeat: no-repeat;
          height: 50px;
          width: 50px;
          margin-right: 2.5px;
        }
      
        &.active {
          background-image: linear-gradient(to top, #3fa8ee, #56bcff);
          background-color: #56bcff;
          border: none;

          &::before {
            background-image: url('../img/tab-icon-1h.png');
          }
        }
      }

      &:nth-child(3) {

        &::before {
          content: '';
          background-image: url('../img/tab-icon-2.png');
          background-size: contain;
          background-repeat: no-repeat;
          height: 50px;
          width: 50px;
          margin-right: 2.5px;
        }

        &.active {
          background-image: linear-gradient(to bottom, #ffce00, #ffa500);
          background-color: #ffce00;
          border: none;

          &::before {
            background-image: url('../img/tab-icon-2h.png');
          }
        }
      }
    }
  }
}

.numbers {
  background-image: url('../img/numbers-section.png');
  padding: 60px 0;

  &-data {
    display: flex;

    &__big {
      display: inline-block;
      font-size: 56px;
      font-weight: 900;
      color: #54b9fd;
      font-family: 'Montserrat', sans-serif;
    }

    &__small {
      color: white;
      display: block;
    }

    .col {
      border-right: 1px solid white;
      text-align: center;

      &:last-child {
        border-right: none;
      }
    }
  }
}