<template>
  <a :href="`/blog/${link}`" class="blog-card text-dark">
    <img class="blog-card__image rounded" :src="imgUrl" :alt="alt">
    <div class="blog-card__content">
      <h2 v-html="title" class="blog-card__title"></h2>
      <p v-html="text" class='blog-card__text'></p>
    </div>
    <div class="text-right">
    <span class="blog-card__link">
      Continue Lendo...
    </span>
    </div>
  </a>
</template>
<script>
  export default {
    name: 'blog-card',
    props: [
      'title',
      'text',
      'link',
      'alt',
      'img'
    ],
    computed: {
      imgUrl(){
        return (this.img || {}).source_url
      }
    }
  }
</script>

<style lang="scss">
  .blog-card {
    padding: 15px;
    display: block;
    transition: 300ms;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    font-family: 'PT Serif', serif;

    .link-more {
      display: none;
    }

    &:hover {
      text-decoration: none;
      transition: 300ms;
    }

    &__image {
      width: 100%;
    }

    &__title {
      font-size: 24px;
      font-weight: 800;
      color: #555555;
      margin: 15px 0;
      
    }

    &__text {
      font-style: italic;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.44;
      color: #212121;
    }

    &__link {
      font-size: 18px;
      font-weight: 800;
      color: #000000;

      &::before {
        content: '';
        position: relative;
        left: 0;
        bottom: -15px;
        width: 50%;
        display: block;
        height: 1px;
        background-color: #b5b5b5;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>

